{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}Soil Yourself Silly!!{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}<br>Soil Science Education{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                Dig Up New Adventures!
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
        <section>
            <div class="container">
                <p class="lead text-center">

                        <ul>
                        {% for order in orders_list %}
                            <li><a href="/soils/{{ order }}/">{{ order }}</a></li>
                                {% if soil_type  %}
                                    <ul>
                                    {% for x in soil_type %}
                                        <li><a href="/soils/{{ x }}/">{{ x }}</a></li>
                                        <!--{% if soil_type %}-->
                                        <!--<ul>-->
                                            <!--{% for x in soil_type %}-->
                                            <!--<li><a href="/soils/{{ x }}/">{{ x }}</a></li>-->
                                            <!--{% endfor %}-->
                                        <!--</ul>-->
                                        <!--{% else %}-->
                                            <!--<p>No Soils Exist.</p>-->
                                        <!--{% endif %}-->
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No Soils Exist.</p>
                                {% endif %}
                        {% endfor %}
                        </ul>


                </p>
            </div>
        </section>
    {% endblock %}
