<!DOCTYPE html>
<html>

<head>
  <!-- Bootstrap & Scripts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>




<section class="container">
  <div class="jumbotron text-center">
<h2> TWELVE ORDERS OF SOIL TAXONOMY </h2>
  </div>
  <div class="container text-center" id="firstrow">
  <div class=" col-sm-4">
    Entisols
  </div>
  <div class=" col-sm-4">
    Inceptisols
  </div>
  <div class=" col-sm-4">
    Gelisols
  </div>
</div>
<div class="container text-center" id="secondrow">
<div class=" col-sm-4">
  Histosols
</div>
<div class=" col-sm-4">
  Andisols
</div>
<div class=" col-sm-4">
  Aridisols
</div>
</div>
<div class="container text-center" id="thirdrow">
<div class=" col-sm-4">
  Mollisols
</div>
<div class=" col-sm-4">
  Vertisols
</div>
<div class=" col-sm-4">
  Spodosols

</div>
</div>
<div class="container text-center" id="fourthrow">
<div class=" col-sm-4">
  Alfisols
</div>
<div class=" col-sm-4">
  Ultisols
</div>
<div class=" col-sm-4">
  Oxisols
</div>
</div>

</section>

FORK TEST 


</html>
